# Домашнее задание

Используя информацию по мидиям Петербурга и Магадана, которые представлены в виде двух массивов petersburg и magadan в разделе ANOVA тест, проверьте данные на нормальность и на наличие корреляции. Для этого объедините 2 массива в DataFrame. Обоснуйте выбор теста на корреляцию. Сделайте вывод по гипотезе.
 
 
Также ответьте на вопрос:
Какова разница в среднем размере мидии в зависимости от города-производителя. Обоснуйте выбор теста. Сделайте вывод по гипотезе.

In [12]:
import pandas as pd
import numpy as np
from scipy.stats import shapiro
from scipy.stats import ttest_ind

In [3]:
alpha = 0.05

In [4]:
petersburg = [0.0974, 0.1352, 0.0817, 0.1016, 0.0968, 0.1064, 0.105]
magadan = [0.1033, 0.0915, 0.0781, 0.0685, 0.0677, 0.0697, 0.0764, 0.0689]

In [5]:
data = pd.DataFrame(data={'petersburg': pd.Series([0.0974, 0.1352, 0.0817, 0.1016, 0.0968, 0.1064, 0.105]),
        'magadan':   pd.Series([0.1033, 0.0915, 0.0781, 0.0685, 0.0677, 0.0697, 0.0764, 0.0689])
})
data.fillna({'petersburg': data['petersburg'].mean()}, inplace=True)

display(data)

   petersburg  magadan
0    0.097400   0.1033
1    0.135200   0.0915
2    0.081700   0.0781
3    0.101600   0.0685
4    0.096800   0.0677
5    0.106400   0.0697
6    0.105000   0.0764
7    0.103443   0.0689

### Проверка признаков на нормальность

H0: размеры раковин распределены нормально
Ha: распределение размеров раковин не является нормальным
alpha = 0.05

Для проверки признаков на нормальное распределение применим критерий Шапиро-Уилка

In [8]:
_, p = shapiro(data)
print(f"Критерий Шапиро-Уилка: p-value = {p: .3f}")

Критерий Шапиро-Уилка: p-value =  0.100

p-value > alpha - нулевая гипотеза не отвергается, распределение размеров раковин нормальное

### Проверка на наличие корреляции

Так как данные распределены нормально, будем применять параметрические тесты. 
Для проверки на корреляцию непрерывных числовых признаков используем коэффициент корреляции Пирсона

In [10]:
display(data.corr(method='pearson'))

            petersburg   magadan
petersburg    1.000000  0.244558
magadan       0.244558  1.000000

Коэффициент корреляции 0.25 говорит об очень слабой связи между признаками

### Сравнение средних размеров по выборкам

H0: средние размеры раковин в двух выборках не отличаются
Ha: есть статистически значимое различие в средних размерах раковин
alpha = 0.05

Применяем t-test (критерий Стьюдента) для независимых выборок.

In [13]:
_, p = ttest_ind(data['petersburg'], data['magadan'])
print(f'Независимый t-тест: p-value = {p: .3f}')

Независимый t-тест: p-value =  0.003

p-value < alpha  - значит, есть статистические значимые различия в рамерах раковин.

### Рассчитаем средние размеры раковин из двух городов:

In [14]:
mean_petersburg = data['petersburg'].mean()
mean_magadan = data['magadan'].mean()
print(f'Средний размер раковины (Петербург): {mean_petersburg}')
print(f'Средний размер раковины (Магадан): {mean_magadan}')

Средний размер раковины (Петербург): 0.10344285714285714
Средний размер раковины (Магадан): 0.0780125

In [15]:
x = mean_petersburg/mean_magadan
print(x)

1.3259779797193674

Вывод по гипотезе: есть статистические значимые различия в рамерах раковин из разных городов. 

Разница в размерах раковин - 32.6 %