In [50]:
import pandas as pd

citi_bike_data = pd.read_csv('data/citibike-tripdata.csv')
display(citi_bike_data.head())
display(citi_bike_data.info())

,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0
2,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3142.0,1 Ave & E 62 St,40.761227,-73.960940,3384.0,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1
3,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,308.0,St James Pl & Oliver St,40.713079,-73.998512,3690.0,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2
4,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,345.0,W 13 St & 6 Ave,40.736494,-73.997044,380.0,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station id         299831 non-null  float64
 3   start station name       299831 non-null  object
 4   start station latitude   300000 non-null  float64
 5   start station longitude  300000 non-null  float64
 6   end station id           299831 non-null  float64
 7   end station name         299831 non-null  object
 8   end station latitude     300000 non-null  float64
 9   end station longitude    300000 non-null  float64
 10  bikeid                   300000 non-null  int64
 11  usertype                 300000 non-null  object
 12  birth year               300000 non-null  int64
 13  gender                   300000 non-null  int64
dtypes: float64(6), int64(3), object(5)
memory usage: 32.0+ MB

None

In [51]:
display(citi_bike_data['start station id'].value_counts())

281.0     1928
2006.0    1909
519.0     1873
514.0     1845
426.0     1835
          ...
3432.0      15
3599.0      11
2005.0       9
3704.0       7
3583.0       6
Name: start station id, Length: 759, dtype: int64

In [52]:
display(citi_bike_data['bikeid'].value_counts())

33887    107
34358    104
34159    103
34258    103
33916    102
        ...
18587      1
17324      1
29593      1
33157      1
25794      1
Name: bikeid, Length: 10004, dtype: int64

In [53]:
display(citi_bike_data['usertype'].value_counts(normalize=True))

Subscriber    0.774007
Customer      0.225993
Name: usertype, dtype: float64

In [54]:
display(citi_bike_data['gender'].value_counts())

1    183582
2     74506
0     41912
Name: gender, dtype: int64

In [55]:
display(citi_bike_data['start station id'].nunique())
display(citi_bike_data['end station id'].nunique())

759

765

In [56]:
display(citi_bike_data['birth year'].max())

2002

In [57]:
display(citi_bike_data['start station name'].value_counts())

Grand Army Plaza & Central Park S    1928
Central Park S & 6 Ave               1909
Pershing Square North                1873
12 Ave & W 40 St                     1845
West St & Chambers St                1835
                                     ...
NYCBS Depot - GOW                      15
Franklin Ave & Empire Blvd             11
Railroad Ave & Kay Ave                  9
47 Ave & Skillman Ave                   7
Eastern Pkwy & Washington Ave           6
Name: start station name, Length: 759, dtype: int64

In [58]:
display(citi_bike_data['end station name'].value_counts())

West St & Chambers St          1963
12 Ave & W 40 St               1909
Pershing Square North          1850
Central Park S & 6 Ave         1828
E 17 St & Broadway             1804
                               ...
Exchange Place                    3
Union St                          1
Warren St                         1
Montrose Ave & Bushwick Ave       1
Liberty Light Rail                1
Name: end station name, Length: 765, dtype: int64

In [59]:
citi_bike_data.drop(['start station id', 'end station id'], axis=1, inplace=True)
display(citi_bike_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 12 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station name       299831 non-null  object
 3   start station latitude   300000 non-null  float64
 4   start station longitude  300000 non-null  float64
 5   end station name         299831 non-null  object
 6   end station latitude     300000 non-null  float64
 7   end station longitude    300000 non-null  float64
 8   bikeid                   300000 non-null  int64
 9   usertype                 300000 non-null  object
 10  birth year               300000 non-null  int64
 11  gender                   300000 non-null  int64
dtypes: float64(4), int64(3), object(5)
memory usage: 27.5+ MB

None

In [60]:
citi_bike_data['age'] = 2018 - citi_bike_data['birth year']
citi_bike_data.drop(['birth year'], axis=1, inplace=True)
display(citi_bike_data[citi_bike_data['age'] > 60].shape[0])

11837

In [61]:
citi_bike_data['starttime'] = pd.to_datetime(citi_bike_data['starttime'], yearfirst=True)
citi_bike_data['stoptime'] = pd.to_datetime(citi_bike_data['stoptime'], yearfirst=True)
citi_bike_data['trip duration'] = citi_bike_data['stoptime'] - citi_bike_data['starttime']

display(citi_bike_data.loc[3, 'trip duration'])

Timedelta('0 days 00:07:16.837000')

In [62]:
weekday = citi_bike_data['starttime'].dt.dayofweek
citi_bike_data['weekend'] = weekday.apply(lambda x:1 if x==5 or x==6 else 0)
display(citi_bike_data['weekend'].sum())

115135

In [65]:
def find_hour(hour):
    if 0 <= hour <= 6:
        time_of_day = 'night'
    if 6 < hour <= 12:
        time_of_day = 'morning'
    if 12 < hour <= 18:
        time_of_day = 'day'
    if 18 < hour <= 23:
        time_of_day = 'evening'
    return time_of_day

citi_bike_data['time of day'] = citi_bike_data['starttime'].dt.hour.apply(find_hour)

display(citi_bike_data['time of day'].value_counts())

#display(citi_bike_data['time of day'])
day_trip = citi_bike_data[citi_bike_data['time of day'] == 'day'].shape[0]
nigth_trip = citi_bike_data[citi_bike_data['time of day'] == 'night'].shape[0]
print(day_trip)
print(nigth_trip)
ratio = day_trip/nigth_trip
print(round(ratio))

day        143012
morning     95530
evening     46373
night       15085
Name: time of day, dtype: int64

143012
15085
9