In [30]:
import pandas as pd
import category_encoders as ce

In [31]:
heart['old'] = heart['age'].apply(lambda x:1 if x > 60 else 0)
heart['old'].sum()

79

In [32]:
def trestbps_mean(x):
    if x['age'] < 21:
      if x['sex'] == 1:
        return 123
      else:
        return 116
    
    elif x['age'] < 31:
      if x['sex'] == 1:
        return 126
      else:
        return 120

    elif x['age'] < 41:
      if x['sex'] == 1:
        return 129
      else:
        return 127

    elif x['age'] < 51:
      if x['sex'] == 1:
        return 135
      else:
        return 137

    elif x['age'] < 61:
      if x['sex'] == 1:
        return 142
      else:
        return 144

    elif x['age'] > 60:
      if x['sex'] == 1:
        return 142
      else:
        return 159

heart['trestbps_mean'] = heart[['age','sex']].apply(trestbps_mean, axis=1)

In [33]:
heart['trestbps_mean'].iloc [[300]]

300    142
Name: trestbps_mean, dtype: int64

In [34]:
heart

,age,sex,trestbps,chol,fbs,thalach,exang,oldpeak,target,old,...,slope_3,ca_1,ca_2,ca_3,ca_4,ca_5,thal_1,thal_2,thal_3,thal_4
0,63,1,145,233,1,150,0,2.3,1,1,...,0,1,0,0,0,0,1,0,0,0
1,37,1,130,250,0,187,0,3.5,1,0,...,0,1,0,0,0,0,0,1,0,0
2,41,0,130,204,0,172,0,1.4,1,0,...,0,1,0,0,0,0,0,1,0,0
3,56,1,120,236,0,178,0,0.8,1,0,...,0,1,0,0,0,0,0,1,0,0
4,57,0,120,354,0,163,1,0.6,1,0,...,0,1,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,140,241,0,123,1,0.2,0,0,...,1,1,0,0,0,0,0,0,1,0
299,45,1,110,264,0,132,0,1.2,0,0,...,1,1,0,0,0,0,0,0,1,0
300,68,1,144,193,1,141,0,3.4,0,1,...,1,0,1,0,0,0,0,0,1,0
301,57,1,130,131,0,115,1,1.2,0,0,...,1,0,0,1,0,0,0,0,1,0
302,57,0,130,236,0,174,0,0.0,0,0,...,1,0,0,1,0,0,0,1,0,0

In [35]:
df=heart.copy()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 87 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   age            303 non-null    int64
 1   sex            303 non-null    int64
 2   trestbps       303 non-null    int64
 3   chol           303 non-null    int64
 4   fbs            303 non-null    int64
 5   thalach        303 non-null    int64
 6   exang          303 non-null    int64
 7   oldpeak        303 non-null    float64
 8   target         303 non-null    int64
 9   old            303 non-null    int64
 10  trestbps_mean  303 non-null    int64
 11  cp_1           303 non-null    int64
 12  cp_2           303 non-null    int64
 13  cp_3           303 non-null    int64
 14  cp_4           303 non-null    int64
 15  restecg_1      303 non-null    int64
 16  restecg_2      303 non-null    int64
 17  restecg_3      303 non-null    int64
 18  slope_1        303 non-null    int64
 19  slope_2        303 non-null    int64
 20  slope_3        303 non-null    int64
 21  ca_1           303 non-null    int64
 22  ca_2           303 non-null    int64
 23  ca_3           303 non-null    int64
 24  ca_4           303 non-null    int64
 25  ca_5           303 non-null    int64
 26  thal_1         303 non-null    int64
 27  thal_2         303 non-null    int64
 28  thal_3         303 non-null    int64
 29  thal_4         303 non-null    int64
 30  cp_1           303 non-null    int64
 31  cp_2           303 non-null    int64
 32  cp_3           303 non-null    int64
 33  cp_4           303 non-null    int64
 34  restecg_1      303 non-null    int64
 35  restecg_2      303 non-null    int64
 36  restecg_3      303 non-null    int64
 37  slope_1        303 non-null    int64
 38  slope_2        303 non-null    int64
 39  slope_3        303 non-null    int64
 40  ca_1           303 non-null    int64
 41  ca_2           303 non-null    int64
 42  ca_3           303 non-null    int64
 43  ca_4           303 non-null    int64
 44  ca_5           303 non-null    int64
 45  thal_1         303 non-null    int64
 46  thal_2         303 non-null    int64
 47  thal_3         303 non-null    int64
 48  thal_4         303 non-null    int64
 49  cp_1           303 non-null    int64
 50  cp_2           303 non-null    int64
 51  cp_3           303 non-null    int64
 52  cp_4           303 non-null    int64
 53  restecg_1      303 non-null    int64
 54  restecg_2      303 non-null    int64
 55  restecg_3      303 non-null    int64
 56  slope_1        303 non-null    int64
 57  slope_2        303 non-null    int64
 58  slope_3        303 non-null    int64
 59  ca_1           303 non-null    int64
 60  ca_2           303 non-null    int64
 61  ca_3           303 non-null    int64
 62  ca_4           303 non-null    int64
 63  ca_5           303 non-null    int64
 64  thal_1         303 non-null    int64
 65  thal_2         303 non-null    int64
 66  thal_3         303 non-null    int64
 67  thal_4         303 non-null    int64
 68  cp_1           303 non-null    int64
 69  cp_2           303 non-null    int64
 70  cp_3           303 non-null    int64
 71  cp_4           303 non-null    int64
 72  restecg_1      303 non-null    int64
 73  restecg_2      303 non-null    int64
 74  restecg_3      303 non-null    int64
 75  slope_1        303 non-null    int64
 76  slope_2        303 non-null    int64
 77  slope_3        303 non-null    int64
 78  ca_1           303 non-null    int64
 79  ca_2           303 non-null    int64
 80  ca_3           303 non-null    int64
 81  ca_4           303 non-null    int64
 82  ca_5           303 non-null    int64
 83  thal_1         303 non-null    int64
 84  thal_2         303 non-null    int64
 85  thal_3         303 non-null    int64
 86  thal_4         303 non-null    int64
dtypes: float64(1), int64(86)
memory usage: 206.1 KB

In [37]:
ord_encoder1 = ce.OneHotEncoder(cols=['cp', 'restecg', 'slope', 'ca', 'thal'])
heart_bin1 = ord_encoder1.fit_transform(heart[['cp', 'restecg', 'slope', 'ca', 'thal']])
heart = pd.concat([heart, heart_bin1], axis=1)
heart=heart.drop(['cp', 'restecg', 'slope', 'ca', 'thal'], axis=1)
heart.info()

KeyError: "None of [Index(['cp', 'restecg', 'slope', 'ca', 'thal'], dtype='object')] are in the [columns]"